* {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: #111; }

a img {
  border-width: 0;
  vertical-align: middle; }

a:visited {
  color: #669;
  text-decoration: none; }

a:link {
  color: #37a;
  text-decoration: none; }

a:hover {
  background-color: #3377aa;
  color: #fff; }

body {
  padding-top: 30px;
  font: 12px Helvetica, Arial, sans-serif;
  line-height: 1.62; }

address,
caption,
cite,
code,
dfn,
em,
i,
strong,
th,
var,
optgroup {
  font-style: normal;
  font-weight: normal; }

.allstar50,
.allstar45,
.allstar40,
.allstar35,
.allstar30,
.allstar25,
.allstar20,
.allstar15,
.allstar10,
.allstar05,
.allstar00,
.rating1-t,
.rating15-t,
.rating2-t,
.rating25-t,
.rating3-t,
.rating35-t,
.rating4-t,
.rating45-t,
.rating5-t,
.rating-t,
.starb ~ .stars5,
.starb ~ .stars4,
.starb ~ .stars3,
.starb ~ .stars2,
.starb ~ .stars1,
.collectors .stars5,
.collectors .stars4,
.collectors .stars3,
.collectors .stars2,
.collectors .stars1 {
  display: inline-block;
  zoom: 1;
  background: -webkit-image-set(url("../images/index/ic_rating_s.png") 1x, url("../images/index/ic_rating_s@2x.png") 2x) no-repeat;
  width: 55px;
  height: 11px;
  margin: 0 3px 0 0;
  overflow: hidden; }

.allstar35 {
  background-position: 0 -33px; }

.allstar40 {
  background-position: 0 -22px; }

.allstar45 {
  background-position: 0 -11px; }

header {
  width: 950px;
  margin: 0 auto 25px; }
  header .logo {
    display: inline-block;
    vertical-align: middle;
    width: 160px;
    height: 34px;
    margin-right: 20px;
    background: url("../images/index/logo_db.png") no-repeat 0 0; }
  header .nav-links {
    float: right;
    margin-top: 6px; }
    header .nav-links li {
      display: inline-block;
      margin: 0 0 0 17px; }
      header .nav-links li a {
        display: inline-block;
        width: 40px;
        height: 20px;
        overflow: hidden;
        margin: 0;
        line-height: 20em;
        outline: none;
        vertical-align: middle;
        background-image: url("../images/index/nav_logo.png"); }
      header .nav-links li .lnk-book {
        background-position: 0px 0; }
      header .nav-links li .lnk-movie {
        background-position: -60px 0; }
      header .nav-links li .lnk-music {
        background-position: -120px 0; }
      header .nav-links li .lnk-group {
        background-position: -180px 0; }
      header .nav-links li .lnk-location {
        background-position: -299px 0; }
      header .nav-links li .lnk-fm {
        background-position: -241px 0; }
      header .nav-links li .lnk-time {
        margin-bottom: 1px;
        background: url("../images/index/ic_shijian_home_nav.png") no-repeat 100% 100%; }
      header .nav-links li .lnk-market {
        width: 42px;
        background-position: -421px 0; }
  header .anony-srh {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 270px;
    height: 30px;
    border: 1px solid #c3c3c3; }
    header .anony-srh form {
      margin: 0;
      padding: 0;
      border: 0px; }
      header .anony-srh form .inp {
        display: block;
        height: 30px;
        overflow: hidden; }
        header .anony-srh form .inp input {
          width: 240px;
          border: none;
          font-size: 13px;
          height: 20px;
          padding: 5px;
          outline: none; }
      header .anony-srh form .bn {
        position: absolute;
        right: 0;
        top: 0;
        width: 30px;
        height: 30px;
        overflow: hidden;
        cursor: pointer;
        background: url("../images/index/bn_srh_1.png") 50% 50% no-repeat; }
        header .anony-srh form .bn input {
          border: none;
          background: transparent;
          overflow: hidden;
          width: 30px;
          height: 30px;
          font-size: 0;
          color: transparent;
          cursor: pointer; }

.wrapper {
  width: 950px;
  margin: 0 auto; }

.anony-reg-new {
  margin-bottom: 25px;
  background-image: url("../images/index/doubanapp5_bg.png");
  background-size: contain;
  background-position: calc(50% - 305px) top;
  background-repeat: no-repeat;
  background-color: #edf4ed; }
  .anony-reg-new .wrapper {
    position: relative;
    padding: 28px 0 4px;
    overflow: visible; }
    .anony-reg-new .wrapper::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 0;
      background-image: url("../images/index/doubanapp5.png");
      background-repeat: no-repeat;
      background-position: 0 -150px; }
    .anony-reg-new .wrapper::after {
      content: "\0020";
      display: block;
      clear: both; }
    .anony-reg-new .wrapper .app {
      z-index: 2;
      position: absolute;
      height: 120px;
      top: 0;
      bottom: 0;
      margin: auto 0 auto 430px; }
      .anony-reg-new .wrapper .app .app-title {
        margin: 7px 0;
        font-size: 25px;
        line-height: 24px; }
        .anony-reg-new .wrapper .app .app-title span {
          margin-left: 10px;
          font-weight: 400; }
      .anony-reg-new .wrapper .app .app-slogan {
        margin: 0 0 18px;
        font-size: 0; }
        .anony-reg-new .wrapper .app .app-slogan span {
          font-size: 12px;
          letter-spacing: 2px; }
      .anony-reg-new .wrapper .app .lnk-app {
        display: inline-block;
        zoom: 1;
        padding: 9px 21px;
        margin-right: 2px;
        vertical-align: top;
        border-radius: 2px;
        font-size: 12px;
        background: #00B51D;
        color: #FFF;
        line-height: 1; }
        .anony-reg-new .wrapper .app .lnk-app:link {
          background: #00B51D;
          color: #FFF; }
      .anony-reg-new .wrapper .app .app-qr {
        display: inline-block;
        position: relative; }
        .anony-reg-new .wrapper .app .app-qr .lnk-qr {
          display: inline-block;
          border: 1px solid #48aa0d;
          border-radius: 2px; }
        .anony-reg-new .wrapper .app .app-qr .app-qr-expand {
          display: none;
          position: absolute;
          top: 0;
          left: 0;
          padding: 20px 20px 5px;
          border-radius: 2px;
          text-align: center;
          background: #fff;
          white-space: nowrap; }
          .anony-reg-new .wrapper .app .app-qr .app-qr-expand p {
            font-size: 13px;
            line-height: 26px;
            text-align: center;
            font-size: 13px;
            color: #666; }
        .anony-reg-new .wrapper .app .app-qr:hover > .app-qr-expand {
          display: block; }
    .anony-reg-new .wrapper .login {
      position: relative;
      z-index: 2;
      width: 270px;
      float: right;
      margin-bottom: 15px;
      font-size: 0; }
      .anony-reg-new .wrapper .login .item {
        position: relative;
        text-align: left;
        font-size: 0;
        margin-bottom: 4px; }
        .anony-reg-new .wrapper .login .item .inp {
          width: 252px;
          height: 30px;
          padding: 0 8px;
          border: 1px solid #DBE5DB;
          border-radius: 2px;
          line-height: 30px;
          font-size: 12px; }
        .anony-reg-new .wrapper .login .item .opt {
          position: absolute;
          top: 0;
          right: 10px;
          font-size: 12px;
          line-height: 35px; }
          .anony-reg-new .wrapper .login .item .opt a {
            color: #ccc; }
            .anony-reg-new .wrapper .login .item .opt a:hover {
              color: rgba(118, 108, 108, 0.77); }
      .anony-reg-new .wrapper .login .item-submit {
        margin-top: 6px; }
        .anony-reg-new .wrapper .login .item-submit .bn-submit {
          width: 134px;
          height: 30px;
          padding: 0 28px;
          border-radius: 2px;
          cursor: pointer;
          background: #30A080;
          border: 0;
          font-size: 12px;
          color: #fff;
          text-align: center; }
          .anony-reg-new .wrapper .login .item-submit .bn-submit:hover {
            background: #2a8c70; }
        .anony-reg-new .wrapper .login .item-submit .lnk-reg {
          display: inline-block;
          margin-left: 4px;
          width: 92px;
          padding: 6px 19px;
          border-radius: 2px;
          border: 1px solid #30A080;
          font-size: 12px;
          color: #30A080;
          text-align: center; }
          .anony-reg-new .wrapper .login .item-submit .lnk-reg:hover {
            color: #2a8c70; }
      .anony-reg-new .wrapper .login .item-action {
        font-size: 12px;
        margin-top: 8px;
        overflow: hidden;
        color: #666; }
        .anony-reg-new .wrapper .login .item-action ul {
          float: right;
          font-size: 0;
          margin-top: 3px;
          margin-right: 4px; }
          .anony-reg-new .wrapper .login .item-action ul li {
            display: inline-block; }
          .anony-reg-new .wrapper .login .item-action ul a:before {
            content: "";
            display: inline-block;
            width: 14px;
            height: 12px;
            background-repeat: no-repeat;
            background-position: bottom; }
          .anony-reg-new .wrapper .login .item-action ul .wechat:before {
            background-image: url("../images/index/wechat.png"); }
          .anony-reg-new .wrapper .login .item-action ul .weibo:before {
            background-image: url("../images/index/weibo.png");
            margin-left: 10px; }

section {
  padding: 10px 0;
  margin-bottom: 30px;
  min-height: 200px; }
  section .wrapper::before, section .wrapper::after {
    content: "";
    display: block;
    clear: both; }
  section .wrapper .sidenav {
    float: left;
    width: 100px;
    height: 550px;
    margin-right: 20px; }
    section .wrapper .sidenav .section-title {
      font: 15px Arial, Helvetica, sans-serif;
      color: #072;
      margin: 0 0 12px 0;
      line-height: 150%; }
      section .wrapper .sidenav .section-title a {
        font-size: 24px;
        color: #494949; }
        section .wrapper .sidenav .section-title a:hover {
          color: #fff; }
    section .wrapper .sidenav .side-links {
      margin-bottom: 40px; }
      section .wrapper .sidenav .side-links li {
        position: relative;
        margin-top: 5px;
        font-size: 14px; }
    section .wrapper .sidenav .apps-list li {
      margin-top: 15px; }
      section .wrapper .sidenav .apps-list li .app-icon {
        display: block;
        width: 50px;
        height: 50px;
        background: url("../images/index/app_icons_50_10.jpg") no-repeat;
        border-radius: 10px;
        box-shadow: 1px 1px 2px #999; }
      section .wrapper .sidenav .apps-list li .app-icon-fm {
        background-position: -250px 0; }
      section .wrapper .sidenav .apps-list li .app-icon-artists {
        background-position: -50px; }
  section .wrapper .ad {
    position: relative; }
    section .wrapper .ad span {
      line-height: 1;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.3);
      color: white;
      font-size: 12px;
      position: absolute;
      padding: 4px;
      right: 0px;
      bottom: 0px; }
  section .wrapper .topic {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #072;
    margin-bottom: 12px; }
    section .wrapper .topic span {
      font-size: 12px; }
  section .wrapper .main {
    margin-top: 5px; }
    section .wrapper .main .mod {
      margin-bottom: 30px; }
    section .wrapper .main .albums {
      float: left;
      width: 350px;
      margin-right: 30px;
      color: #999;
      font-size: 0; }
      section .wrapper .main .albums ul {
        margin: -10px 0 0 -10px; }
        section .wrapper .main .albums ul li {
          width: 170px;
          display: inline-block;
          margin: 10px 0 0 10px;
          font-size: 12px;
          vertical-align: top; }
          section .wrapper .main .albums ul li div {
            display: inline-block;
            zoom: 1;
            width: 170px;
            max-height: 170px;
            overflow: hidden;
            vertical-align: middle;
            white-space: nowrap;
            font-size: 12px; }
            section .wrapper .main .albums ul li div img {
              width: 170px; }
          section .wrapper .main .albums ul li span {
            color: #999; }
    section .wrapper .main .time-list li {
      display: inline-block;
      width: 100px;
      vertical-align: top;
      margin-right: 60px;
      text-align: center;
      margin-bottom: 30px; }
      section .wrapper .main .time-list li .cover {
        display: block;
        margin-bottom: 10px;
        position: relative; }
        section .wrapper .main .time-list li .cover::before {
          position: absolute;
          top: 0;
          left: 0;
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          background-image: -webkit-linear-gradient(top, transparent 0%, transparent 50%, rgba(0, 0, 0, 0.2) 100%); }
        section .wrapper .main .time-list li .cover::after {
          content: '';
          position: absolute;
          width: 12px;
          height: 12px;
          bottom: 10px;
          right: 10px;
          background: url("../images/index/ic_audio_w@2x.png") center/14px no-repeat; }
        section .wrapper .main .time-list li .cover img {
          width: 100px;
          height: 141px; }
      section .wrapper .main .time-list li .title {
        color: #333333;
        font-size: 13px; }
      section .wrapper .main .time-list li .type {
        display: block;
        margin-top: 10px;
        color: #999999;
        line-height: 1; }
    section .wrapper .main .notes {
      overflow: hidden;
      color: #666; }
      section .wrapper .main .notes li {
        margin-top: 12px;
        word-wrap: break-word; }
      section .wrapper .main .notes .author {
        color: #999; }
    section .wrapper .main .video-list {
      margin-bottom: 25px; }
      section .wrapper .main .video-list li {
        display: inline-block;
        width: 250px;
        vertical-align: top;
        margin-right: 30px; }
        section .wrapper .main .video-list li .video-cover {
          height: 140px;
          margin-bottom: 11px; }
          section .wrapper .main .video-list li .video-cover a {
            position: relative;
            display: block;
            color: #fff;
            height: 100%;
            background: center / cover no-repeat; }
            section .wrapper .main .video-list li .video-cover a::before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              margin: auto;
              background-color: transparent;
              background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.25)); }
            section .wrapper .main .video-list li .video-cover a::after {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              margin: auto;
              background: url("../images/index/play.png") center/18px no-repeat; }
            section .wrapper .main .video-list li .video-cover a span {
              position: absolute;
              right: 10px;
              bottom: 10px;
              color: #fff; }
        section .wrapper .main .video-list li .video-title {
          font-size: 13px;
          line-height: 1.54;
          color: #494949; }
      section .wrapper .main .video-list li:last-child {
        margin-right: 0; }
    section .wrapper .main .pic {
      height: 145px;
      width: auto;
      overflow: hidden; }
    section .wrapper .main .list {
      font-size: 0; }
      section .wrapper .main .list .pic {
        margin-bottom: 10px; }
      section .wrapper .main .list ul {
        margin-top: -40px; }
        section .wrapper .main .list ul li {
          display: inline-block;
          width: 132px;
          margin-top: 40px;
          vertical-align: top;
          text-align: center; }
          section .wrapper .main .list ul li div {
            font-size: 12px; }
      section .wrapper .main .list .title {
        line-height: 1.45;
        font-size: 13px;
        margin-bottom: 4px; }
        section .wrapper .main .list .title a {
          color: #333; }
    section .wrapper .main .rating {
      font-size: 13px;
      margin-bottom: 4px; }
      section .wrapper .main .rating i {
        margin-left: 4px;
        color: #e09015; }
    section .wrapper .main .bn-link {
      display: inline-block;
      zoom: 1;
      vertical-align: middle;
      padding: 2px 10px;
      border-radius: 2px; }
      section .wrapper .main .bn-link:link {
        font-size: 12px;
        background: #1c8bd0;
        color: #fff; }
      section .wrapper .main .bn-link:hover {
        background: #047fcb; }
    section .wrapper .main .group-list ul {
      margin-left: -30px;
      margin-top: -30px; }
      section .wrapper .main .group-list ul li {
        width: 248px;
        margin-top: 30px;
        text-align: left;
        overflow: hidden;
        color: #999;
        font-size: 12px; }
        section .wrapper .main .group-list ul li .pic {
          float: left;
          height: auto;
          margin-right: 15px; }
        section .wrapper .main .group-list ul li .info {
          overflow: hidden; }
          section .wrapper .main .group-list ul li .info .title {
            margin-bottom: 5px;
            word-wrap: break-word; }
            section .wrapper .main .group-list ul li .info .title a {
              color: #017a85; }
  section .wrapper .side {
    float: right;
    width: 265px;
    margin-left: 30px;
    margin-top: 15px; }
    section .wrapper .side li {
      margin-top: 10px; }
      section .wrapper .side li a {
        display: inline-block;
        font-size: 13px; }
      section .wrapper .side li .rec_topics_label {
        color: #4CC15F;
        margin-left: 2px; }
      section .wrapper .side li .rec_topics_subtitle {
        display: block;
        margin-bottom: 10px;
        color: #aaaaaa;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
    section .wrapper .side .mod {
      margin-bottom: 30px; }
      section .wrapper .side .mod .tag ul {
        margin-top: -4px; }
        section .wrapper .side .mod .tag ul li {
          display: inline-block;
          margin-top: 4px;
          width: 60px;
          text-align: left; }
          section .wrapper .side .mod .tag ul li a {
            font-size: 12px; }
      section .wrapper .side .mod .cate {
        margin-bottom: 10px; }
        section .wrapper .side .mod .cate ul {
          margin-left: -10px; }
          section .wrapper .side .mod .cate ul .cate-label {
            width: 100%;
            margin-bottom: 2px; }
            section .wrapper .side .mod .cate ul .cate-label a {
              color: #333;
              font-size: 14px; }
          section .wrapper .side .mod .cate ul li {
            display: inline-block;
            margin-left: 10px;
            margin-top: 0; }
            section .wrapper .side .mod .cate ul li a {
              font-size: 12px; }
    section .wrapper .side .movie-charts li {
      margin-top: 0;
      margin-bottom: 6px;
      padding-bottom: 5px;
      list-style-type: decimal;
      list-style-position: inside;
      border-bottom: 1px solid #eaeaea; }
      section .wrapper .side .movie-charts li a {
        margin-left: 5px;
        font-size: 12px; }

section:nth-child(2n) {
  padding: 40px 0 20px;
  background: #f7f7f7; }

.anony-book a {
  color: #333; }
.anony-book .wrapper .side .mod .book-cate-mod .cate {
  padding-top: 10px;
  margin: -1px 0 10px 0;
  border-top: 1px solid #eaeaea; }
.anony-book .wrapper .side .mod .book-cate-mod .cate-label {
  width: auto;
  font-size: 12px;
  color: #999; }
.anony-book .wrapper .main .bn-link:link {
  background: #999a95;
  color: #fff; }
.anony-book .wrapper .main .bn-link:hover {
  background: #878882; }

.anony-music a {
  color: #333; }
.anony-music .wrapper .sidenav .section-title a:link {
  color: #f38c00; }

.anony-music .wrapper .side .mod .list1 li {
  padding-bottom: 8px;
  margin-bottom: 8px; }
.anony-music .wrapper .side .mod .list1 .num {
  float: left;
  height: 61px;
  overflow: hidden;
  margin-right: 10px; }
.anony-music .wrapper .side .mod .list1 .pic {
  float: left;
  height: 61px;
  overflow: hidden;
  margin-right: 10px; }
.anony-music .wrapper .side .mod .list1 .content {
  overflow: hidden; }
  .anony-music .wrapper .side .mod .list1 .content .desc {
    margin-top: 4px;
    color: #999; }
.anony-music .wrapper .sidenav {
  height: 700px; }
.anony-music .wrapper .main .pic {
  height: auto; }
.anony-music .wrapper .main .programme-list .cover {
  position: relative; }
  .anony-music .wrapper .main .programme-list .cover i {
    position: absolute;
    background-image: url("../images/index/timeline-player-cover.png");
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    background-position: 50% 50%;
    left: 26px;
    opacity: 0.8; }

.anony-market .wrapper .sidenav .section-title a {
  color: #1f9432; }
.anony-market .wrapper .sidenav .side-links ul li a {
  color: #343434; }
.anony-market .wrapper .side .shop-list {
  margin-top: 10px;
  width: 280px; }
  .anony-market .wrapper .side .shop-list ul li {
    overflow: hidden;
    margin-bottom: 10px;
    color: #666; }
  .anony-market .wrapper .side .shop-list ul .first {
    margin-top: 20px; }
    .anony-market .wrapper .side .shop-list ul .first .content {
      height: 64px;
      overflow: hidden;
      margin-top: 2px;
      font-size: 12px;
      line-height: 20px; }
  .anony-market .wrapper .side .shop-list ul .content .pic {
    float: left;
    margin-left: 0;
    height: 64px; }
    .anony-market .wrapper .side .shop-list ul .content .pic img {
      width: 60px;
      overflow: hidden; }
  .anony-market .wrapper .side .shop-list ul .content .title {
    height: 25px;
    font-size: 13px;
    padding-left: 75px; }
  .anony-market .wrapper .side .shop-list ul .content .desc {
    color: #6a6a6a;
    padding-left: 75px; }
.anony-market .wrapper .main .sku-list {
  margin-top: 40px;
  margin-bottom: 20px; }
  .anony-market .wrapper .main .sku-list .main-sku {
    float: left;
    width: 250px;
    margin: 10px 20px 10px 0; }
    .anony-market .wrapper .main .sku-list .main-sku .pic {
      margin-bottom: 0;
      height: 250px;
      overflow: hidden; }
    .anony-market .wrapper .main .sku-list .main-sku .footer {
      font-size: 14px; }
      .anony-market .wrapper .main .sku-list .main-sku .footer .sku-headline {
        padding: 5px 0; }
        .anony-market .wrapper .main .sku-list .main-sku .footer .sku-headline a {
          display: block;
          overflow: hidden; }
          .anony-market .wrapper .main .sku-list .main-sku .footer .sku-headline a .sku-title {
            float: left;
            font-size: 14px;
            max-width: 78%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis; }
          .anony-market .wrapper .main .sku-list .main-sku .footer .sku-headline a .sku-price {
            float: right;
            color: #6a6a6a;
            font-size: 13px;
            text-align: right;
            width: 22%;
            white-space: nowrap; }
  .anony-market .wrapper .main .sku-list .other-skus {
    float: left;
    height: 285px;
    width: 260px;
    margin-bottom: 10px;
    margin-top: 10px; }
    .anony-market .wrapper .main .sku-list .other-skus ul li {
      float: left;
      margin-top: 15px;
      margin-left: 0px;
      margin-right: 20px;
      height: 125px;
      width: 110px; }
      .anony-market .wrapper .main .sku-list .other-skus ul li .pic {
        height: 110px; }
      .anony-market .wrapper .main .sku-list .other-skus ul li .footer {
        margin-top: 5px; }
        .anony-market .wrapper .main .sku-list .other-skus ul li .footer .title {
          display: inline-block;
          font-size: 12px;
          height: 12px;
          line-height: 12px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 100%; }
    .anony-market .wrapper .main .sku-list .other-skus ul .first {
      margin-top: 40px; }

.anony-events a {
  color: #643; }
.anony-events .wrapper .sidenav {
  height: auto; }
  .anony-events .wrapper .sidenav .section-title a {
    color: #ec5303; }
.anony-events .wrapper .main .events-list ul {
  margin-left: -20px; }
  .anony-events .wrapper .main .events-list ul li {
    width: 248px;
    text-align: left;
    overflow: hidden; }
    .anony-events .wrapper .main .events-list ul li .pic {
      float: left;
      margin-right: 10px; }
    .anony-events .wrapper .main .events-list ul li .info {
      overflow: hidden;
      color: #666; }
      .anony-events .wrapper .main .events-list ul li .info .title-badge {
        display: inline-block;
        vertical-align: top;
        vertical-align: baseline;
        color: #fff;
        font-weight: 200;
        background-color: #80C8DA;
        font-size: 11px;
        line-height: 17px;
        padding: 0 3px;
        padding-top: 1px\9;
        border-radius: 3px;
        margin-bottom: 3px; }
      .anony-events .wrapper .main .events-list ul li .info .title-tickets-badge {
        background-color: #ff8263; }

.ft {
  overflow: hidden;
  padding: 14px 0;
  margin-top: 30px;
  border-top: 1px dashed #dcdcdc; }
  .ft span {
    color: #999; }

.fleft {
  float: left; }

.fright {
  float: right; }

/*# sourceMappingURL=index.css.map */
