@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    line-height: 1.62;
}

h2 {
    font: 15px Arial, Helvetica, sans-serif;
    color: #072;
    margin: 0 0 12px 0;
    line-height: 150%;
}

.pl {
    font: 12px Arial, Helvetica, sans-serif;
    line-height: 150%;
    color: #666666;
}

a img {
    border-width: 0;
    vertical-align: middle;
}

a:link {
    color: #37a;
}

a:visited {
    color: #669;
}

.rr {
    float: right;
}

.global-nav {
    height: 28px;
    color: #d5d5d5;
    background-color: #545652;
    min-width: 950px;
    font: 12px Helvetica, Arial, sans-serif;
    line-height: 1.62;
    font-size: 12px;
}

.global-nav a:link,
.global-nav a:visited,
.global-nav a:active {
    color: #d5d5d5;
}

.global-nav a:hover {
    color: #fff;
}

.global-nav .top-nav-info {
    float: right;
    margin: 0 12px 0 0;
    line-height: 28px;
}

.global-nav .top-nav-info a {
    display: inline-block;
    padding: 0 12px;
    height: 28px;
}

.global-nav .top-nav-doubanapp {
    position: relative;
    float: right;
    margin-right: 5px;
    line-height: 28px;
}

.global-nav .top-nav-doubanapp .lnk-doubanapp {
    display: inline-block;
    padding: 0 8px;
    height: 28px;
}

.global-nav .top-nav-doubanapp .more-items {
    position: absolute;
    padding: 10px 20px 30px;
    left: -76px;
    width: 211px;
    border-top: none;
    color: #111;
    font-size: 15px;
    line-height: 1.62;
    font-weight: bold;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
}

.global-nav .top-nav-doubanapp .more-items .appintro-title {
    padding-top: 170px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 400;
    background: url("../images/detail/nav_doubanapp_6.png") no-repeat center;
}

.global-nav .top-nav-doubanapp .more-items .slogan {
    font-size: 13px;
    letter-spacing: 3px;
    font-weight: 400;
}

.global-nav .top-nav-doubanapp .more-items .qrcode {
    padding-top: 160px;
    margin-top: 30px;
    font-size: 0;
    background: url("../images/detail/nav_doubanapp_6_qrcode.png") no-repeat center;
}

.global-nav .top-nav-doubanapp .download {
    margin-top: 10px;
}

.global-nav .top-nav-doubanapp .download a {
    display: inline;
    font-size: 12px;
}

.global-nav .top-nav-doubanapp .download a:link,
.global-nav .top-nav-doubanapp .download a:visited,
.global-nav .top-nav-doubanapp .download a:hover,
.global-nav .top-nav-doubanapp .download a:active {
    color: #37a;
}

.global-nav .top-nav-doubanapp .download .download-android {
    margin-top: 8px;
}

.global-nav .top-nav-doubanapp:hover #top-nav-appintro {
    display: block;
}

.global-nav #top-nav-appintro {
    display: none;
}

.global-nav .global-nav-items {
    font-size: 0;
}

.global-nav .global-nav-items li {
    display: inline-block;
    line-height: 28px;
    font-size: 12px;
    vertical-align: baseline;
}

.global-nav .global-nav-items li a {
    display: inline-block;
    padding: 0 12px;
    height: 28px;
}

nav {
    width: 100%;
    min-width: 950px;
    margin-bottom: 40px;
    background: #f6f5f2;
    overflow: hidden;
}

nav .nav-primary {
    position: relative;
    width: 950px;
    margin: 0 auto;
    padding: 10px 0 5px;
    padding-top: 12px;
}

nav .nav-primary .nav-logo {
    float: left;
    margin: 0 13px 0 0;
    width: 124px;
    height: 56px;
    background: url("../images/list/lg_location_a11_1.png") no-repeat 0 12px;
    font-size: 0;
}

nav .nav-primary .local-label {
    position: relative;
    float: left;
    margin-right: 30px;
    margin-top: 13px;
    padding: 0;
}

nav .nav-primary .local-label .nav-local-list {
    display: none;
    position: absolute;
    top: 30px;
    left: 0px;
    z-index: 10;
    border: 1px solid #ddd;
    width: 192px;
    background: #fff;
    padding: 18px 0 6px 18px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
}

nav .nav-primary .local-label .nav-local-list li {
    display: inline-block;
    vertical-align: top;
    width: 46px;
    margin: 0 -3px 6px 0;
    white-space: nowrap;
}

nav .nav-primary .local-label .nav-local-list li a {
    color: #37a;
    font-size: 12px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    background: #fff;
    border: none;
    padding: 0;
}

nav .nav-primary .local-label a {
    display: inline-block;
    padding: 5px 10px 6px;
    font: 700 14px/1 tahoma, arial, "stheiti", "黑体", sans-serif;
    background-color: #dedede;
    border-radius: 4px;
    color: #333;
}

nav .nav-primary .local-label a i {
    display: inline-block;
    margin-left: 5px;
    height: 0;
    width: 0;
    line-height: 0;
    border-color: #333 transparent transparent;
    border-style: solid dashed dashed;
    border-width: 6px 5px 0;
    vertical-align: middle;
}

nav .nav-primary .nav-search {
    position: absolute;
    right: 0;
    padding: 10px 0 15px 0;
}

nav .nav-primary .nav-search .inp {
    width: 218px;
    height: 28px;
    background: #fff;
    border: 1px solid #e1e9e1;
}

nav .nav-primary .nav-search .inp input {
    outline: none;
    float: left;
    border: 0;
    width: 92%;
    height: 28px;
    background: #fff;
    padding-left: 10px;
    font-size: 12px;
    vertical-align: middle;
}

nav .nav-primary .nav-search .inp-btn {
    position: absolute;
    top: 10px;
    right: 0;
    width: 30px;
    height: 28px;
    border: 1px solid #e1e9e1;
    border-left: none;
    background-color: #fff;
    font-size: 0;
    overflow: hidden;
}

nav .nav-primary .nav-search .inp-btn input {
    width: 30px;
    height: 28px;
    line-height: 100px;
    background: transparent url("../images/detail/bn_srh_1.png") no-repeat 50% 50%;
    border: 0;
}

nav .nav-primary .nav-items {
    float: left;
    margin-top: 15px;
}

nav .nav-primary .nav-items li {
    display: inline-block;
    margin: 0 15px;
    font-size: 15px;
}

nav .nav-primary .nav-items li a {
    position: relative;
}

nav a:link {
    color: #643;
}

.wrapper {
    width: 950px;
    margin: 0 auto;
}

.wrapper #content article {
    width: 590px;
    padding-right: 20px;
    float: left;
}

.wrapper #content article .cats-board {
    background: #f6f5f2;
    padding: 9px;
}

.wrapper #content article .cats-board .crow {
    font-size: 0;
}

.wrapper #content article .cats-board .crow .col {
    width: 20%;
    min-width: 20%;
    line-height: 1.95;
    font-size: 12px;
    display: inline-block;
    vertical-align: top;
}

.wrapper #content article .cats-board .crow .col .cats-detail {
    padding: 7px;
}

.wrapper #content article .cats-board .crow .col .cats-detail h5 {
    font-size: 14px;
    margin-bottom: 9px;
}

.wrapper #content article .cats-board .crow .col .cats-detail h5 a {
    color: #111;
    padding: 0 3px;
    border-radius: 1px;
    line-height: 1.5em;
    display: inline-block;
    font-weight: normal;
}

.wrapper #content article .cats-board .crow .col .cats-detail li {
    font-size: 12px;
    display: inline-block;
    vertical-align: top;
}

.wrapper #content article .cats-board .crow .col .cats-detail li a {
    display: inline-block;
    padding: 0 3px;
    border-radius: 1px;
    line-height: 1.5em;
}

.wrapper #content article .ad {
    background: url("../images/list/5493b3fc77b416c.jpg") center center no-repeat;
}

.wrapper #content .aside {
    width: 310px;
    padding-left: 20px;
    float: right;
}

.wrapper #content .aside .ad {
    margin-bottom: 20px;
}

.wrapper #content .aside .ad a {
    display: block;
    width: 300px;
    height: 250px;
    position: relative;
}

.wrapper #content .aside .ad::after {
    content: '\0020';
    display: block;
    clear: both;
}

.wrapper #content .aside .ad .article-card {
    padding: 10px;
    background-color: #f9f9f9;
    clear: both;
    overflow: hidden;
}

.wrapper #content .aside .ad .article-card a {
    height: auto;
}

.wrapper #content .aside .ad .article-card .pic {
    float: left;
    display: block;
    max-width: 96px;
    width: 96px;
}

.wrapper #content .aside .ad .article-card .pic img {
    width: 100%;
}

.wrapper #content .aside .ad .article-card .article-info {
    margin-left: 111px;
    overflow: hidden;
}

.wrapper #content .aside .ad .article-card .article-info .title {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.wrapper #content .aside .ad .article-card .article-info .author {
    font-size: 12px;
    line-height: 1;
    color: #999;
}

.wrapper #content .aside .hidden-sm {
    font-size: 12px;
}

.wrapper #content .aside .hidden-sm .bn-big-action {
    display: inline-block;
    background: #a88360;
    color: #fff;
    border-radius: 2px;
    margin-top: 20px;
    margin-right: 20px;
    padding: 0 1em;
    line-height: 2.2em;
    vertical-align: middle;
}

.wrapper #content .aside .event-mod h2 {
    margin-bottom: 0.7em;
    font-size: 15px;
    line-height: 1.2;
    float: none;
    width: auto;
    padding: 0;
}

.wrapper #content .aside .download-app a {
    display: block;
    height: 44px;
    line-height: 44px;
    text-align: center;
    background-color: #f9f9f9;
    text-decoration: none;
    color: #37a;
}

.wrapper #content .aside .download-app .icon {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
}

.wrapper #content .aside .download-app .text {
    margin-left: 6px;
    font-size: 12px;
    color: #37a;
}

.wrapper #content .aside .contact h2 {
    margin-top: 20px;
    color: #222;
    border-bottom: 1px solid #E4E2E2;
    font-size: 14px;
    line-height: 25px;
}

.wrapper #content .aside .contact h2 a {
    color: #666;
    margin-left: 6px;
    font-size: 12px;
}

.wrapper #content .aside .contact ul li {
    display: inline-block;
    width: 60px;
    font-size: 12px;
    text-align: center;
}

.wrapper #content .aside .contact ul li .icon {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 auto 5px auto;
}

.wrapper #content .aside .contact ul li .icon-embassy-site {
    background-image: url("../images/list/home_site.jpg");
}

.wrapper #content .aside .contact ul li .icon-embassy-weibo {
    background-image: url("../images/list/home_weibo.png");
}

.wrapper #content .aside .contact ul li .icon-embassy-weixin {
    position: relative;
    background-image: url("../images/list/home_weixin.png");
}

.wrapper #content .aside .contact ul li .icon-embassy-weixin:hover .hover {
    display: block;
}

.wrapper #content .aside .contact ul li .icon-embassy-weixin .hover {
    display: none;
    position: absolute;
    top: 40px;
    left: -8px;
}

.wrapper #content .aside .contact ul li .icon-embassy-weixin .hover img {
    width: 130px;
    height: 130px;
}

.wrapper #content .aside .contact ul li .primary-link {
    font-size: 12px;
    line-height: 12px;
}

.wrapper #content .aside .pl {
    font-size: 14px;
}

.wrapper #content .aside .pl .lnk-rss {
    padding-left: 20px;
    background: url("../images/list/feed1.png") 0 0 no-repeat;
}

.wrapper #content::after {
    content: "";
    display: block;
    clear: both;
}

.wrapper #footer {
    color: #999;
    padding: 6px 0;
    margin-top: 40px;
    overflow: hidden;
    font-size: 12px;
    border-top: 1px dashed #ddd;
}

.wrapper #footer .fright {
    float: right;
}

#db-events-guess {
    position: relative;
    color: #526f7c;
}

#db-events-guess .hd {
    height: 2.25em;
    border-bottom: 1px dotted #dadada;
    padding-bottom: 0;
    margin-bottom: 20px;
}

#db-events-guess .hd h2 {
    float: left;
    border: 0;
    font-size: 15px;
    line-height: 1.2;
    color: #333;
}

#db-events-guess .hd .ui-slide-control {
    float: right;
}

#db-events-guess .hd .ui-slide-control .ui-slide-counter {
    display: inline-block;
    margin-right: 10px;
}

#db-events-guess .hd .ui-slide-control a {
    display: inline-block;
    vertical-align: middle;
    width: 19px;
    height: 19px;
    cursor: pointer;
    background-image: url("../images/list/slide_control.png");
    background-color: #fff;
    background-repeat: no-repeat;
}

#db-events-guess .hd .ui-slide-control .btn-prev {
    background-position: 0 -21px;
}

#db-events-guess .hd .ui-slide-control .btn-prev-disabled {
    background-position: 0 -2px;
}

#db-events-guess .hd .ui-slide-control .btn-next {
    background-position: -22px -2px;
}

#db-events-guess .bd {
    height: 220px;
    width: 600px;
}

#db-events-guess .ui-slide-screen {
    position: relative;
    overflow: hidden;
}

#db-events-guess .ui-slide-screen .ui-slide-contents {
    position: absolute;
    font-size: 0;
    width: 3000px;
}

#db-events-guess .ui-slide-screen .ui-slide-contents li {
    display: inline-block;
    width: 110px;
    height: 216px;
    padding: 0 20px;
    font-size: 12px;
    overflow: hidden;
    vertical-align: top;
    text-align: center;
}

#db-events-guess .ui-slide-screen .ui-slide-contents li .pic {
    position: relative;
    padding-bottom: 10px;
}

#db-events-guess .ui-slide-screen .ui-slide-contents li .pic::before {
    content: -webkit-image-set(url("../images/list/on-sale.png") 1x);
    position: absolute;
    right: -2px;
    top: 2px;
}

#db-events-guess .ui-slide-screen .ui-slide-contents li .title a {
    font-size: 14px;
    text-align: center;
}

.event-mod {
    margin-bottom: 10px;
}

.event-mod .hd {
    overflow: hidden;
}

.event-mod .hd h2 {
    float: left;
    width: 60px;
    padding-right: 20px;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 0;
}

.event-mod .hd h2 .title {
    font-size: 14px;
    margin-bottom: 6px;
}

.event-mod .hd .tabs {
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-right: 50px;
    overflow: hidden;
}

.event-mod .hd .tabs a {
    vertical-align: top;
    display: inline-block;
    height: 16px;
    margin-bottom: 5px;
    padding: 1px 10px;
    line-height: 1.4;
    font-size: 12px;
    margin-right: 8px;
    border-radius: 2px;
}

.event-mod .hd .tabs .on {
    color: #333;
    background: #e6e6e6;
}

.event-mod .simple-list-1col .list-entry {
    clear: both;
    margin-bottom: 25px;
    overflow: hidden;
}

.event-mod .simple-list-1col .list-entry .ll {
    float: left;
    margin-right: 10px;
}

.event-mod .simple-list-1col .list-entry .info {
    padding-left: 60px;
}

.event-mod .simple-list-1col .list-entry .info .event-title {
    font-size: 13px;
    margin: -2px 0 4px;
}

.event-mod .simple-list-1col .list-entry .info .tip {
    color: #666;
    font-size: 12px;
    margin-bottom: 0.7em;
}

.event-mod .simple-list-1col .list-entry .info ul {
    font-size: 12px;
}

.event-mod .simple-list-1col .list-entry .info ul li {
    margin-bottom: 0.3em;
}

.event-mod .simple-list-1col .list-entry .info ul li .gloomy {
    color: gray;
}

.event-mod .bd {
    font-size: 0;
}

.event-mod .bd::after {
    content: ' ';
    display: block;
    clear: both;
}

.event-mod .bd .events-list {
    margin-left: -30px;
}

.event-mod .bd .events-list .list-entry {
    width: 45%;
    height: 101px;
    border: 0;
    padding: 0 0 40px 0;
    margin-left: 30px;
    display: inline-block;
    vertical-align: top;
}

.event-mod .bd .events-list .list-entry .pic {
    position: relative;
    margin-right: 20px;
    float: left;
    width: 70px;
    overflow: hidden;
}

.event-mod .bd .events-list .list-entry .pic::before {
    content: -webkit-image-set(url("../images/list/hot.png") 1x);
    position: absolute;
    right: 0;
    top: 0;
}

.event-mod .bd .events-list .list-entry .info {
    color: #666;
    padding-right: 5px;
    margin-left: 90px;
    font-size: 12px;
}

.event-mod .bd .events-list .list-entry .info .title {
    margin-bottom: 6px;
    line-height: 1.5;
}

.event-mod .bd .events-list .list-entry .info .title a {
    font-size: 13px;
}

.event-mod .bd .events-list .list-entry .info address {
    display: block;
    color: #666;
    font-style: normal;
}

.mod {
    margin-bottom: 40px;
}

.mod .hd {
    height: 25px;
    border-bottom: 1px dotted #ddd;
    margin-bottom: 20px;
}

.mod::after {
    content: '\0020';
    display: block;
    clear: both;
}

.mod .inline-list {
    font-size: 0;
}

.mod .inline-list li {
    width: 50%;
    font-size: 12px;
    display: inline-block;
    vertical-align: top;
}

.mod .inline-list li a {
    height: 50px;
    padding: 25px;
    border: 1px solid #eee;
    margin-right: -1px;
    display: block;
    line-height: 24px;
}

.mod .inline-list li a div {
    font-size: 14px;
}

.mod .inline-list li a .info {
    color: #666;
}

.guanfang {
    position: relative;
    height: 700px;
    overflow: hidden;
}

.guanfang ul {
    position: absolute;
}

.guanfang .list-entry {
    margin-bottom: 25px;
    overflow: hidden;
}

.guanfang .list-entry .ll {
    float: left;
    margin-right: 10px;
}

.guanfang .list-entry .info {
    padding-left: 60px;
}

.guanfang .list-entry .info .event-title {
    font-size: 13px;
    margin: -2px 0 4px;
}

.guanfang .list-entry .info .tip {
    color: #666;
    font-size: 12px;
    margin-bottom: 0.7em;
}

.guanfang .list-entry .info .tip span {
    color: #ff8263;
    font-weight: bold;
}

.title-badge {
    vertical-align: baseline;
    color: #fff;
    font-weight: 200;
    background-color: #80C8DA;
    font-size: 12px;
    line-height: 18px;
    padding: 0 3px;
    padding-top: 1px\9;
    border-radius: 3px;
    display: inline-block;
    margin-bottom: 3px;
}

.title-badge:hover {
    background-color: #ff7056;
}

.title-badge-small {
    font-size: 11px;
    font-weight: 100;
    line-height: 1.4;
    border-radius: 2px;
}

.title-tickets-badge {
    background-color: #ff8263;
}


/* 缓慢滚动

#tb {
    top: 0;
    left: 0;
    animation: lun 10s linear;
}

@keyframes lun {
    from {
        top: 0
    }
    to {
        top: -2000px
    }
} */